<h1>사요</h1>

<link rel="stylesheet" href="contents.css">

검색
<%= form_tag posts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "검색", :name => nil %>
    </p>
<% end %>

        <div id=outer>
지역 선택
<% if @place %>
    <%= form_tag do %>
        <%= select_tag 'input_district', options_for_select(  @district.collect{ |u| [u.name, u.name] }), onchange: "this.form.submit();" %>
    <% end %>
<% else %>
    <%= form_tag do %>
        <%= select_tag 'input_district', options_for_select(  @district.collect{ |u| [u.name, u.name] }.insert(0, [("선택하세요"),("선택하세요")])), selected: ("선택하세요"), onchange: "this.form.submit();" %>
    <% end %>
<% end %>
</div>
<div id=inner>
운동 유형 선택
<% if @place %>
    <%= form_tag do %>
        <%= select_tag 'input_type', options_for_select(  @type.collect{ |u| [u.name, u.name] }), onchange: "this.form.submit();" %>
    <% end %>
<% else %>
    <%= form_tag do %>
        <%= select_tag 'input_type', options_for_select(  @type.collect{ |u| [u.name, u.name] }.insert(0, [("선택하세요"),("선택하세요")])), selected: ("선택하세요"), onchange: "this.form.submit();" %>
    <% end %>
<% end %>
</div>
<div id=result>
<% if !@result %>
    운동 유형 선택 <br>
<% else %>
    <% @result.each do |p| %>
        <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%>
        <br>
    <% end %>
<% end %>    
</div>





