<h1>이 글의 카테고리는: <%=@post.category.name%></h1>
<h1>이 글의 제목: <%=@post.title%></h1>
<p><%=@post.name%></p>
<p><%=@post.price%></p>
<p><%=@post.date%></p>
<p><%=@post.money%></p>
<p><%=@post.reason%></p>
<p><%=@post.content%></p>



  <hr>  
<%=link_to '목록 보기', contents_path%>