<% @posts.each do |post| %>
    <br><br>
    카테고리 : <p><%= post.category.name %></p>
    운동종류 : <p><%= post.type.name %></p>
    제목 : <p><%= post.title %></p>
    기관 이름 : <p><%= post.name %></p>
    회원권 취득가 : <p><%= post.price %></p>
    회원권 만료일 : <p><%= post.date %></p>
    회원권 희망 양도비 : <p><%= post.money %></p>
    양도 사유 : <p><%= post.reason %></p>
    부가 설명 : <p><%= post.content %></p>
<% end %>