<div class="menu">
  <p><%= link_to '나의 회원정보', user_mypage_path %></p>
  <p><%= link_to '회원정보 변경', edit_user_registration_path %></p>
  <p><%= link_to '스크랩', user_mypage_path %></p>
  <p><%= link_to '내가 쓴 글', user_myposts_path %></p>
</div>
  
<div class="info">
  <div class="field">
    <p>이름</p>
    <%=current_user.name %>
  </div><br>
  
   <div class="field">
    <p>이메일</p>
    <%=current_user.email %>
  </div><br> 
  
  <div class="field">
    <p>성별</p>
    <%=current_user.sex %>
  </div><br>
  
  <div class="field">
    <p>생년월일</p>
    <%=current_user.birth %>
  </div><br>
  
  <div class="field">
    <p>핸드폰번호</p>
    <%=current_user.phone %>
  </div><br>
  
  <div class="field">
    <p>운동일수</p>
    일주일에 <%=current_user.howmany %>번
  </div><br>
</div>