<% @posts.each do |post| %>
    <p><%= post.category %></p>
    <p><%= post.type %></p>
    <p><%= post.title %></p>
    <p><%= post.name %></p>
    <p><%= post.price %></p>
    <p><%= post.date %></p>
    <p><%= post.money %></p>
    <p><%= post.content %></p>
<% end %>