<h1>상세 검색</h1>
<%= form_for @search do |s| %>

<div class = "fleid">
    <%= s.label :keywords %> <br>
    <%= s.text_field :keywords %><br> 
</div>

<div class = "fleid">
    <%= s.label :category %> <br>
    <%= s.select :category, options_for_select(@categories), include_blank => true  %><br> 
</div>

<div class = "actions">
    <% s.submit %> 
</div>

<% end %>

<p><%= link_to '뒤로 가기', posts_sell_index_path %></p>