<h1>상세 검색</h1>
<%= form_for Search.new, url: search_field_tag(@search), html: {class: "pure-form"} do |s| %>

<div class = "fleid">
    <%= s.label :keywords %> <br>
    <%= s.text_field :keywords %><br> 
</div>

<div class = "fleid">
    <%= s.label :category %> <br>
    <%= s.select :category, options_for_select(@categories) %><br> 
</div>

<div class = "actions">
    <% s.submit "Search", class: "pure-button pure-button-primary" %> 
</div>

<% end %>

