<h1>팔아요</h1>

<div id=outer>
<h3><%= link_to '새 글 쓰기', new_post_path %></h3>

search
<%= form_tag posts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>



<% @posts.each do |p| %>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> 
    <% if can? :update, @content %>
        | <%=link_to '수정하기', edit_post_path(p)%>
        | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %> 
    <% end %>
    </div>
    <br>
<% end %>
</div>
