<h1>팔아요</h1>

<div id=outer>
<h3><%= link_to '새 글 쓰기', new_post_path %></h3>

search
<%= form_tag posts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>



<% @posts.each do |p| %>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
종로, 중구, 용산
<br>
<%@posts_1.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
도봉, 강북, 성북, 노원
<br>
<%@posts_2.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
동대문, 중랑, 성동, 강진
<br>
<%@posts_3.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
강동, 송파
<br>
<%@posts_4.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
서초, 강남
<br>
<%@posts_5.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
동작, 관악, 금천
<br>
<%@posts_6.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
강서, 양천, 영등포, 구로
<br>
<%@posts_7.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>

<br>
은평, 마포, 서대문
<br>
<%@posts_8.each do |p|%>
<div id=inner>
    <%= p.title %> | <%=link_to '이 글 보기', post_path(p.id)%> | <%=link_to '수정하기', edit_post_path(p)%>
    | <%= link_to '삭제 하기', p, method: :delete, data: { confirm: '정말 지우시겠습니까?' } %>
    </div>
    <br>
<% end %>
</div>
