
<div id="name">
<h4>지역 : <%=@post.category.name%> <br>
운동 유형 : <%=@post.type.name%></h4>
</div>
<br>
<div id="content">
<h1> <%=@post.title%></h1>
<br>
<!--<p>주소 : (자동 입력)</p>-->

<p>양도받을 시 하루 평균 비용:<%= @trans_daily_cost%>원/하루</p>
<p>할인율:<%= @discount_rate %>% 할인</p>

<p>기관 이름 : <%=@post.name%></p>
<p>회원권 취득가 : <%=@post.price%>원</p>
<p>회원권 만료일 : <%=@post.date%></p>
<p>회원권 희망 양도비 : <%=@post.money%>원</p>
<p>양도 사유 : <%=@post.reason%></p>
<p>부가 설명 : <%=@post.content%></p>

</div>
<br>

<div id="comment">
  
<% @post.comments.each do |cmt| %>
<div id="com_content">
    <%= cmt.content %><br>
  </div>
<% end %>
  
<% if current_user %>
  <% if Favorite.exists?(post_id: @post.id, user_id: current_user.id) %>
      <%= button_to '스크랩에서 지우기', users_favorites_delete_path(u_id: current_user.id, c_id: @post.id),
                    method: :post, :onClick => 'alert("스크랩취소되었습니다!")' %>
  <% else %>
      <%= button_to '스크랩하기',  users_favorites_add_path(u_id: current_user.id, c_id: @post.id),
                    method: :post, :onClick => 'alert("스크랩되었습니다!")' %>
  <% end %>
<% end %>

<br>
<%= form_for [@post, Comment.new] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>    
<%=link_to '목록 보기', contents_path%>
</div>
