

<h1>이 글의 카테고리는: <%=@post.category.name%></h1>
<h1>이 글의 제목: <%=@post.title%></h1>
<p>지역 : (자동 입력)</p><br>
<p>운동 유형 : <%=@post.type.name%></p>
<p>기관 이름 : <%=@post.name%></p>
<p>회원권 취득가 : <%=@post.price%></p>
<p>회원권 만료일 : <%=@post.date%></p>
<p>회원권 희망 양도비 : <%=@post.money%></p>
<p>양도 사유 : <%=@post.reason%></p>
<p>부가 설명 : <%=@post.content%></p>

<% @post.comments.each do |cmt| %>
    <%= cmt.content %><br>
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>    


<%=link_to '목록 보기', contents_path%>
